In [49]:
import json
import networkx as nx
import numpy as np
import pandas as pd

with open('./MC1.json', 'r') as file:
    json_data = json.load(file)
nodes = json_data['nodes']
links = json_data['links']

G = nx.DiGraph()
edges = []
edges1 = []
edges2 = []
for link in links:
    edges.append((link['source'], link['target']))
G.add_edges_from(edges)

for component in nx.strongly_connected_components(G):
    component0 = list(component)
    for i in range(len(component0)):
        component0[i]=str(component0[i])

    if 'Mar de la Vida OJSC' in component0 or '979893388' in component0 or 'Oceanfront Oasis Inc Carriers' in component0 or '8327' in component0:
        if len(edges1) == 0:
            subgraph = G.subgraph(component)
            edges1 = list(subgraph.edges())
        else:
            subgraph = G.subgraph(component)
            edges2 = list(subgraph.edges())
            break

for i in range(len(edges1)):
    edges1[i]=(str(edges1[i][0]), str(edges1[i][1]))

print(len(edges1))
print(edges1)

for i in range(len(edges2)):
    edges2[i]=(str(edges2[i][0]), str(edges2[i][1]))

print(len(edges2))
print(edges2)


df=pd.read_csv('./merged_info.csv')
# "Mar de la Vida OJSC",
# "979893388",
# "Oceanfront Oasis Inc Carriers",
# "8327"

3965

# Ownership

In [50]:
arr1 = np.zeros((9,9))
o_table=pd.DataFrame(arr1, columns=['company_s', 'event_s', 'location_s', 'movement_s', 'organization_s', 'person_s', 'political_organization_s', 'vessel_s', 'unknown_s'],index=['company_t', 'event_t', 'location_t', 'movement_t', 'organization_t', 'person_t', 'political_organization_t', 'vessel_t', 'unknown_t'])

o_table_4points=pd.DataFrame(columns=['company_s', 'event_s', 'location_s', 'movement_s', 'organization_s', 'person_s', 'political_organization_s', 'vessel_s', 'unknown_s'],index=['company_t', 'event_t', 'location_t', 'movement_t', 'organization_t', 'person_t', 'political_organization_t', 'vessel_t', 'unknown_t'])
o_table_4points['organization_s'] = 0
o_table_4points['unknown_s'] = 0
o_table_4points.iloc[4] = 0
o_table_4points.iloc[8] = 0

o_cnt = 0

In [51]:
collect_4points = pd.DataFrame()
for row in df.iterrows():
    # print(row[1][1],row[1][7],row[1][9])
    st=(row[1][4],row[1][5])
    # print(type(row[1][7]))
    if row[1][1] == 'ownership' and (st in edges1):
        o_cnt = o_cnt + 1
        o_table[row[1][7]+'_s'][row[1][9]+'_t'] = o_table[row[1][7]+'_s'][row[1][9]+'_t'] + 1

        if (row[1][4] == 'Mar de la Vida OJSC') or (row[1][5] == 'Mar de la Vida OJSC') or (row[1][4] == '979893388') or (row[1][5] == '979893388') or (row[1][4] == 'Oceanfront Oasis Inc Carriers') or (row[1][5] == 'Oceanfront Oasis Inc Carriers') or (row[1][4] == '8327') or (row[1][5] == '8327'):
            collect_4points = collect_4points.append(row[1])
            o_table_4points[row[1][7]+'_s'][row[1][9]+'_t'] = o_table_4points[row[1][7]+'_s'][row[1][9]+'_t'] + 1

collect_4points

/var/folders/rw/kvt1fn_n0h951yj9_wjsc5wm0000gn/T/ipykernel_59622/790178270.py:11: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  collect_4points = collect_4points.append(row[1])
/var/folders/rw/kvt1fn_n0h951yj9_wjsc5wm0000gn/T/ipykernel_59622/790178270.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  o_table_4points[row[1][7]+'_s'][row[1][9]+'_t'] = o_table_4points[row[1][7]+'_s'][row[1][9]+'_t'] + 1
/var/folders/rw/kvt1fn_n0h951yj9_wjsc5wm0000gn/T/ipykernel_59622/790178270.py:11: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  collect_4points = collect_4points.append(row[1])
/var/folders/rw/kvt1fn_n0h951yj9_wjsc5wm0000gn/T/ipykernel_59622/790178270.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  o_table_4points[row[1][7]+'_s'][row[1][9]+'_t'] = o_table_4points[row[1][7]+'_s'][row[1][9]+'_t'] + 1
/var/folders/rw/kvt1fn_n0h951yj9_wjsc5wm0000gn/T/ipykernel_59622/790178270.py:11: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  collect_4points = collect_4points.append(row[1])
/var/folders/rw/kvt1fn_n0h951yj9_wjsc5wm0000gn/T/ipykernel_59622/790178270.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  o_table_4points[row[1][7]+'_s'][row[1][9]+'_t'] = o_table_4points[row[1][7]+'_s'][row[1][9]+'_t'] + 1
/var/folders/rw/kvt1fn_n0h951yj9_wjsc5wm0000gn/T/ipykernel_59622/790178270.py:11: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  collect_4points = collect_4points.append(row[1])
/var/folders/rw/kvt1fn_n0h951yj9_wjsc5wm0000gn/T/ipykernel_59622/790178270.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  o_table_4points[row[1][7]+'_s'][row[1][9]+'_t'] = o_table_4points[row[1][7]+'_s'][row[1][9]+'_t'] + 1
/var/folders/rw/kvt1fn_n0h951yj9_wjsc5wm0000gn/T/ipykernel_59622/790178270.py:11: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  collect_4points = collect_4points.append(row[1])
/var/folders/rw/kvt1fn_n0h951yj9_wjsc5wm0000gn/T/ipykernel_59622/790178270.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  o_table_4points[row[1][7]+'_s'][row[1][9]+'_t'] = o_table_4points[row[1][7]+'_s'][row[1][9]+'_t'] + 1
/var/folders/rw/kvt1fn_n0h951yj9_wjsc5wm0000gn/T/ipykernel_59622/790178270.py:11: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  collect_4points = collect_4points.append(row[1])
/var/folders/rw/kvt1fn_n0h951yj9_wjsc5wm0000gn/T/ipykernel_59622/790178270.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  o_table_4points[row[1][7]+'_s'][row[1][9]+'_t'] = o_table_4points[row[1][7]+'_s'][row[1][9]+'_t'] + 1
/var/folders/rw/kvt1fn_n0h951yj9_wjsc5wm0000gn/T/ipykernel_59622/790178270.py:11: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  collect_4points = collect_4points.append(row[1])
/var/folders/rw/kvt1fn_n0h951yj9_wjsc5wm0000gn/T/ipykernel_59622/790178270.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  o_table_4points[row[1][7]+'_s'][row[1][9]+'_t'] = o_table_4points[row[1][7]+'_s'][row[1][9]+'_t'] + 1
/var/folders/rw/kvt1fn_n0h951yj9_wjsc5wm0000gn/T/ipykernel_59622/790178270.py:11: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  collect_4points = collect_4points.append(row[1])
/var/folders/rw/kvt1fn_n0h951yj9_wjsc5wm0000gn/T/ipykernel_59622/790178270.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  o_table_4points[row[1][7]+'_s'][row[1][9]+'_t'] = o_table_4points[row[1][7]+'_s'][row[1][9]+'_t'] + 1
/var/folders/rw/kvt1fn_n0h951yj9_wjsc5wm0000gn/T/ipykernel_59622/790178270.py:11: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  collect_4points = collect_4points.append(row[1])
/var/folders/rw/kvt1fn_n0h951yj9_wjsc5wm0000gn/T/ipykernel_59622/790178270.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  o_table_4points[row[1][7]+'_s'][row[1][9]+'_t'] = o_table_4points[row[1][7]+'_s'][row[1][9]+'_t'] + 1
/var/folders/rw/kvt1fn_n0h951yj9_wjsc5wm0000gn/T/ipykernel_59622/790178270.py:11: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  collect_4points = collect_4points.append(row[1])
/var/folders/rw/kvt1fn_n0h951yj9_wjsc5wm0000gn/T/ipykernel_59622/790178270.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  o_table_4points[row[1][7]+'_s'][row[1][9]+'_t'] = o_table_4points[row[1][7]+'_s'][row[1][9]+'_t'] + 1
/var/folders/rw/kvt1fn_n0h951yj9_wjsc5wm0000gn/T/ipykernel_59622/790178270.py:11: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  collect_4points = collect_4points.append(row[1])
/var/folders/rw/kvt1fn_n0h951yj9_wjsc5wm0000gn/T/ipykernel_59622/790178270.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  o_table_4points[row[1][7]+'_s'][row[1][9]+'_t'] = o_table_4points[row[1][7]+'_s'][row[1][9]+'_t'] + 1
/var/folders/rw/kvt1fn_n0h951yj9_wjsc5wm0000gn/T/ipykernel_59622/790178270.py:11: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  collect_4points = collect_4points.append(row[1])
/var/folders/rw/kvt1fn_n0h951yj9_wjsc5wm0000gn/T/ipykernel_59622/790178270.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  o_table_4points[row[1][7]+'_s'][row[1][9]+'_t'] = o_table_4points[row[1][7]+'_s'][row[1][9]+'_t'] + 1
/var/folders/rw/kvt1fn_n0h951yj9_wjsc5wm0000gn/T/ipykernel_59622/790178270.py:11: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  collect_4points = collect_4points.append(row[1])
/var/folders/rw/kvt1fn_n0h951yj9_wjsc5wm0000gn/T/ipykernel_59622/790178270.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  o_table_4points[row[1][7]+'_s'][row[1][9]+'_t'] = o_table_4points[row[1][7]+'_s'][row[1][9]+'_t'] + 1
/var/folders/rw/kvt1fn_n0h951yj9_wjsc5wm0000gn/T/ipykernel_59622/790178270.py:11: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  collect_4points = collect_4points.append(row[1])
/var/folders/rw/kvt1fn_n0h951yj9_wjsc5wm0000gn/T/ipykernel_59622/790178270.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  o_table_4points[row[1][7]+'_s'][row[1][9]+'_t'] = o_table_4points[row[1][7]+'_s'][row[1][9]+'_t'] + 1
/var/folders/rw/kvt1fn_n0h951yj9_wjsc5wm0000gn/T/ipykernel_59622/790178270.py:11: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  collect_4points = collect_4points.append(row[1])
/var/folders/rw/kvt1fn_n0h951yj9_wjsc5wm0000gn/T/ipykernel_59622/790178270.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  o_table_4points[row[1][7]+'_s'][row[1][9]+'_t'] = o_table_4points[row[1][7]+'_s'][row[1][9]+'_t'] + 1

,Unnamed: 0,link_type,weight,dataset_x,source,target,key,source_type,source_country,target_type,target_country
1315,1315,ownership,0.903510,MC1,f21800ca-b3c9-404b-8438-3d75ea84c409,979893388,0,location,NaN,organization,NaN
2083,2083,ownership,0.834928,MC1,34,979893388,0,organization,NaN,organization,NaN
2327,2327,ownership,0.813712,MC1,Mar del Oeste Pic,979893388,1,company,Vesperlandia,organization,NaN
2415,2415,ownership,0.891332,MC1,8327,weeks,0,organization,NaN,movement,NaN
2416,2416,ownership,0.824839,MC1,8327,40213337,0,organization,NaN,organization,NaN
4969,4969,ownership,0.873781,MC1,979893388,990,0,organization,NaN,organization,NaN
4999,4999,ownership,0.847196,MC1,979893388,Erica Hamilton,0,organization,NaN,person,Marebak
5010,5010,ownership,0.824144,MC1,979893388,John Barnes DDS,0,organization,NaN,person,Country_271835
5149,5149,ownership,0.859340,MC1,1972868,979893388,0,organization,NaN,organization,NaN
5346,5346,ownership,0.835931,MC1,Joshua Garrett,979893388,0,person,Arreciviento,organization,NaN
7416,7416,ownership,0.890057,MC1,Erica Hamilton,979893388,0,person,Marebak,organization,NaN
8023,8023,ownership,0.819125,MC1,9345,979893388,0,political_organization,NaN,organization,NaN
10135,10135,ownership,0.838920,MC1,Ocean Fisheries Llc,979893388,0,unknown,NaN,organization,NaN
10469,10469,ownership,0.811119,MC1,Mar de la Vida OJSC,Jon White,0,unknown,NaN,person,Polarisdom
10532,10532,ownership,0.118600,MC1,Seabreeze Foods Ltd. Corporation United,8327,0,unknown,NaN,organization,NaN

In [52]:
# 个数
o_table

,company_s,event_s,location_s,movement_s,organization_s,person_s,political_organization_s,vessel_s,unknown_s
company_t,8.0,2.0,10.0,2.0,32.0,5.0,1.0,0.0,19.0
event_t,3.0,0.0,0.0,2.0,3.0,3.0,0.0,0.0,3.0
location_t,10.0,1.0,12.0,2.0,16.0,15.0,4.0,1.0,18.0
movement_t,3.0,0.0,0.0,2.0,2.0,3.0,0.0,0.0,0.0
organization_t,33.0,3.0,33.0,1.0,150.0,26.0,8.0,5.0,55.0
person_t,23.0,4.0,12.0,6.0,55.0,0.0,13.0,4.0,33.0
political_organization_t,2.0,0.0,6.0,0.0,8.0,9.0,0.0,0.0,2.0
vessel_t,1.0,0.0,1.0,0.0,2.0,3.0,0.0,2.0,2.0
unknown_t,29.0,1.0,12.0,1.0,60.0,22.0,1.0,3.0,29.0

In [53]:
# 个数
o_table_4points

,company_s,event_s,location_s,movement_s,organization_s,person_s,political_organization_s,vessel_s,unknown_s
company_t,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,0
event_t,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,0
location_t,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,0
movement_t,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,0
organization_t,1,0,1,0,4,2,1,0,2
person_t,NaN,NaN,NaN,NaN,2,NaN,NaN,NaN,1
political_organization_t,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,0
vessel_t,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,0
unknown_t,0,0,0,0,0,0,0,0,0

In [54]:
# 总数
print(o_cnt)

842

In [55]:
# 比例
o_table=(o_table/11069) * 100
o_table

,company_s,event_s,location_s,movement_s,organization_s,person_s,political_organization_s,vessel_s,unknown_s
company_t,0.072274,0.018068,0.090342,0.018068,0.289096,0.045171,0.009034,0.000000,0.171651
event_t,0.027103,0.000000,0.000000,0.018068,0.027103,0.027103,0.000000,0.000000,0.027103
location_t,0.090342,0.009034,0.108411,0.018068,0.144548,0.135514,0.036137,0.009034,0.162616
movement_t,0.027103,0.000000,0.000000,0.018068,0.018068,0.027103,0.000000,0.000000,0.000000
organization_t,0.298130,0.027103,0.298130,0.009034,1.355136,0.234890,0.072274,0.045171,0.496883
person_t,0.207788,0.036137,0.108411,0.054205,0.496883,0.000000,0.117445,0.036137,0.298130
political_organization_t,0.018068,0.000000,0.054205,0.000000,0.072274,0.081308,0.000000,0.000000,0.018068
vessel_t,0.009034,0.000000,0.009034,0.000000,0.018068,0.027103,0.000000,0.018068,0.018068
unknown_t,0.261993,0.009034,0.108411,0.009034,0.542054,0.198753,0.009034,0.027103,0.261993

In [56]:
# 比例
o_table_4points=(o_table_4points/11069) * 100
o_table_4points

,company_s,event_s,location_s,movement_s,organization_s,person_s,political_organization_s,vessel_s,unknown_s
company_t,NaN,NaN,NaN,NaN,0.000000,NaN,NaN,NaN,0.000000
event_t,NaN,NaN,NaN,NaN,0.000000,NaN,NaN,NaN,0.000000
location_t,NaN,NaN,NaN,NaN,0.000000,NaN,NaN,NaN,0.000000
movement_t,NaN,NaN,NaN,NaN,0.009034,NaN,NaN,NaN,0.000000
organization_t,0.009034,0.0,0.009034,0.0,0.036137,0.018068,0.009034,0.0,0.018068
person_t,NaN,NaN,NaN,NaN,0.018068,NaN,NaN,NaN,0.009034
political_organization_t,NaN,NaN,NaN,NaN,0.000000,NaN,NaN,NaN,0.000000
vessel_t,NaN,NaN,NaN,NaN,0.000000,NaN,NaN,NaN,0.000000
unknown_t,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.000000

# Partnership

In [57]:
arr3 = np.zeros((9,9))

p_table=pd.DataFrame(arr3, columns=['company_s', 'event_s', 'location_s', 'movement_s', 'organization_s', 'person_s', 'political_organization_s', 'vessel_s', 'unknown_s'],index=['company_t', 'event_t', 'location_t', 'movement_t', 'organization_t', 'person_t', 'political_organization_t', 'vessel_t', 'unknown_t'])

p_table_4points=pd.DataFrame( columns=['company_s', 'event_s', 'location_s', 'movement_s', 'organization_s', 'person_s', 'political_organization_s', 'vessel_s', 'unknown_s'],index=['company_t', 'event_t', 'location_t', 'movement_t', 'organization_t', 'person_t', 'political_organization_t', 'vessel_t', 'unknown_t'])
p_table_4points['organization_s'] = 0
p_table_4points['unknown_s'] = 0
p_table_4points.iloc[4] = 0
p_table_4points.iloc[8] = 0

p_cnt = 0

In [58]:
collect_4points = pd.DataFrame()
for row in df.iterrows():
    # print(row[1][1],row[1][7],row[1][9])
    st=(row[1][4],row[1][5])
    if row[1][1] == 'partnership' and (st in edges1):
        p_cnt = p_cnt + 1
        p_table[row[1][7]+'_s'][row[1][9]+'_t'] = p_table[row[1][7]+'_s'][row[1][9]+'_t'] + 1

        if (row[1][4] == 'Mar de la Vida OJSC') or (row[1][5] == 'Mar de la Vida OJSC') or (row[1][4] == '979893388') or (row[1][5] == '979893388') or (row[1][4] == 'Oceanfront Oasis Inc Carriers') or (row[1][5] == 'Oceanfront Oasis Inc Carriers') or (row[1][4] == '8327') or (row[1][5] == '8327'):
            collect_4points = collect_4points.append(row[1])
            p_table_4points[row[1][7]+'_s'][row[1][9]+'_t'] = p_table_4points[row[1][7]+'_s'][row[1][9]+'_t'] + 1

collect_4points

/var/folders/rw/kvt1fn_n0h951yj9_wjsc5wm0000gn/T/ipykernel_59622/805955535.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  collect_4points = collect_4points.append(row[1])
/var/folders/rw/kvt1fn_n0h951yj9_wjsc5wm0000gn/T/ipykernel_59622/805955535.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  p_table_4points[row[1][7]+'_s'][row[1][9]+'_t'] = p_table_4points[row[1][7]+'_s'][row[1][9]+'_t'] + 1
/var/folders/rw/kvt1fn_n0h951yj9_wjsc5wm0000gn/T/ipykernel_59622/805955535.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  collect_4points = collect_4points.append(row[1])
/var/folders/rw/kvt1fn_n0h951yj9_wjsc5wm0000gn/T/ipykernel_59622/805955535.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  p_table_4points[row[1][7]+'_s'][row[1][9]+'_t'] = p_table_4points[row[1][7]+'_s'][row[1][9]+'_t'] + 1
/var/folders/rw/kvt1fn_n0h951yj9_wjsc5wm0000gn/T/ipykernel_59622/805955535.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  collect_4points = collect_4points.append(row[1])
/var/folders/rw/kvt1fn_n0h951yj9_wjsc5wm0000gn/T/ipykernel_59622/805955535.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  p_table_4points[row[1][7]+'_s'][row[1][9]+'_t'] = p_table_4points[row[1][7]+'_s'][row[1][9]+'_t'] + 1
/var/folders/rw/kvt1fn_n0h951yj9_wjsc5wm0000gn/T/ipykernel_59622/805955535.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  collect_4points = collect_4points.append(row[1])
/var/folders/rw/kvt1fn_n0h951yj9_wjsc5wm0000gn/T/ipykernel_59622/805955535.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  p_table_4points[row[1][7]+'_s'][row[1][9]+'_t'] = p_table_4points[row[1][7]+'_s'][row[1][9]+'_t'] + 1
/var/folders/rw/kvt1fn_n0h951yj9_wjsc5wm0000gn/T/ipykernel_59622/805955535.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  collect_4points = collect_4points.append(row[1])
/var/folders/rw/kvt1fn_n0h951yj9_wjsc5wm0000gn/T/ipykernel_59622/805955535.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  p_table_4points[row[1][7]+'_s'][row[1][9]+'_t'] = p_table_4points[row[1][7]+'_s'][row[1][9]+'_t'] + 1
/var/folders/rw/kvt1fn_n0h951yj9_wjsc5wm0000gn/T/ipykernel_59622/805955535.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  collect_4points = collect_4points.append(row[1])
/var/folders/rw/kvt1fn_n0h951yj9_wjsc5wm0000gn/T/ipykernel_59622/805955535.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  p_table_4points[row[1][7]+'_s'][row[1][9]+'_t'] = p_table_4points[row[1][7]+'_s'][row[1][9]+'_t'] + 1
/var/folders/rw/kvt1fn_n0h951yj9_wjsc5wm0000gn/T/ipykernel_59622/805955535.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  collect_4points = collect_4points.append(row[1])
/var/folders/rw/kvt1fn_n0h951yj9_wjsc5wm0000gn/T/ipykernel_59622/805955535.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  p_table_4points[row[1][7]+'_s'][row[1][9]+'_t'] = p_table_4points[row[1][7]+'_s'][row[1][9]+'_t'] + 1
/var/folders/rw/kvt1fn_n0h951yj9_wjsc5wm0000gn/T/ipykernel_59622/805955535.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  collect_4points = collect_4points.append(row[1])
/var/folders/rw/kvt1fn_n0h951yj9_wjsc5wm0000gn/T/ipykernel_59622/805955535.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  p_table_4points[row[1][7]+'_s'][row[1][9]+'_t'] = p_table_4points[row[1][7]+'_s'][row[1][9]+'_t'] + 1
/var/folders/rw/kvt1fn_n0h951yj9_wjsc5wm0000gn/T/ipykernel_59622/805955535.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  collect_4points = collect_4points.append(row[1])
/var/folders/rw/kvt1fn_n0h951yj9_wjsc5wm0000gn/T/ipykernel_59622/805955535.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  p_table_4points[row[1][7]+'_s'][row[1][9]+'_t'] = p_table_4points[row[1][7]+'_s'][row[1][9]+'_t'] + 1
/var/folders/rw/kvt1fn_n0h951yj9_wjsc5wm0000gn/T/ipykernel_59622/805955535.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  collect_4points = collect_4points.append(row[1])
/var/folders/rw/kvt1fn_n0h951yj9_wjsc5wm0000gn/T/ipykernel_59622/805955535.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  p_table_4points[row[1][7]+'_s'][row[1][9]+'_t'] = p_table_4points[row[1][7]+'_s'][row[1][9]+'_t'] + 1
/var/folders/rw/kvt1fn_n0h951yj9_wjsc5wm0000gn/T/ipykernel_59622/805955535.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  collect_4points = collect_4points.append(row[1])
/var/folders/rw/kvt1fn_n0h951yj9_wjsc5wm0000gn/T/ipykernel_59622/805955535.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  p_table_4points[row[1][7]+'_s'][row[1][9]+'_t'] = p_table_4points[row[1][7]+'_s'][row[1][9]+'_t'] + 1
/var/folders/rw/kvt1fn_n0h951yj9_wjsc5wm0000gn/T/ipykernel_59622/805955535.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  collect_4points = collect_4points.append(row[1])
/var/folders/rw/kvt1fn_n0h951yj9_wjsc5wm0000gn/T/ipykernel_59622/805955535.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  p_table_4points[row[1][7]+'_s'][row[1][9]+'_t'] = p_table_4points[row[1][7]+'_s'][row[1][9]+'_t'] + 1
/var/folders/rw/kvt1fn_n0h951yj9_wjsc5wm0000gn/T/ipykernel_59622/805955535.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  collect_4points = collect_4points.append(row[1])
/var/folders/rw/kvt1fn_n0h951yj9_wjsc5wm0000gn/T/ipykernel_59622/805955535.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  p_table_4points[row[1][7]+'_s'][row[1][9]+'_t'] = p_table_4points[row[1][7]+'_s'][row[1][9]+'_t'] + 1
/var/folders/rw/kvt1fn_n0h951yj9_wjsc5wm0000gn/T/ipykernel_59622/805955535.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  collect_4points = collect_4points.append(row[1])
/var/folders/rw/kvt1fn_n0h951yj9_wjsc5wm0000gn/T/ipykernel_59622/805955535.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  p_table_4points[row[1][7]+'_s'][row[1][9]+'_t'] = p_table_4points[row[1][7]+'_s'][row[1][9]+'_t'] + 1
/var/folders/rw/kvt1fn_n0h951yj9_wjsc5wm0000gn/T/ipykernel_59622/805955535.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  collect_4points = collect_4points.append(row[1])
/var/folders/rw/kvt1fn_n0h951yj9_wjsc5wm0000gn/T/ipykernel_59622/805955535.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  p_table_4points[row[1][7]+'_s'][row[1][9]+'_t'] = p_table_4points[row[1][7]+'_s'][row[1][9]+'_t'] + 1
/var/folders/rw/kvt1fn_n0h951yj9_wjsc5wm0000gn/T/ipykernel_59622/805955535.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  collect_4points = collect_4points.append(row[1])
/var/folders/rw/kvt1fn_n0h951yj9_wjsc5wm0000gn/T/ipykernel_59622/805955535.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  p_table_4points[row[1][7]+'_s'][row[1][9]+'_t'] = p_table_4points[row[1][7]+'_s'][row[1][9]+'_t'] + 1
/var/folders/rw/kvt1fn_n0h951yj9_wjsc5wm0000gn/T/ipykernel_59622/805955535.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  collect_4points = collect_4points.append(row[1])
/var/folders/rw/kvt1fn_n0h951yj9_wjsc5wm0000gn/T/ipykernel_59622/805955535.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  p_table_4points[row[1][7]+'_s'][row[1][9]+'_t'] = p_table_4points[row[1][7]+'_s'][row[1][9]+'_t'] + 1
/var/folders/rw/kvt1fn_n0h951yj9_wjsc5wm0000gn/T/ipykernel_59622/805955535.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  collect_4points = collect_4points.append(row[1])
/var/folders/rw/kvt1fn_n0h951yj9_wjsc5wm0000gn/T/ipykernel_59622/805955535.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  p_table_4points[row[1][7]+'_s'][row[1][9]+'_t'] = p_table_4points[row[1][7]+'_s'][row[1][9]+'_t'] + 1
/var/folders/rw/kvt1fn_n0h951yj9_wjsc5wm0000gn/T/ipykernel_59622/805955535.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  collect_4points = collect_4points.append(row[1])
/var/folders/rw/kvt1fn_n0h951yj9_wjsc5wm0000gn/T/ipykernel_59622/805955535.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  p_table_4points[row[1][7]+'_s'][row[1][9]+'_t'] = p_table_4points[row[1][7]+'_s'][row[1][9]+'_t'] + 1
/var/folders/rw/kvt1fn_n0h951yj9_wjsc5wm0000gn/T/ipykernel_59622/805955535.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  collect_4points = collect_4points.append(row[1])
/var/folders/rw/kvt1fn_n0h951yj9_wjsc5wm0000gn/T/ipykernel_59622/805955535.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  p_table_4points[row[1][7]+'_s'][row[1][9]+'_t'] = p_table_4points[row[1][7]+'_s'][row[1][9]+'_t'] + 1
/var/folders/rw/kvt1fn_n0h951yj9_wjsc5wm0000gn/T/ipykernel_59622/805955535.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  collect_4points = collect_4points.append(row[1])
/var/folders/rw/kvt1fn_n0h951yj9_wjsc5wm0000gn/T/ipykernel_59622/805955535.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  p_table_4points[row[1][7]+'_s'][row[1][9]+'_t'] = p_table_4points[row[1][7]+'_s'][row[1][9]+'_t'] + 1
/var/folders/rw/kvt1fn_n0h951yj9_wjsc5wm0000gn/T/ipykernel_59622/805955535.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  collect_4points = collect_4points.append(row[1])
/var/folders/rw/kvt1fn_n0h951yj9_wjsc5wm0000gn/T/ipykernel_59622/805955535.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  p_table_4points[row[1][7]+'_s'][row[1][9]+'_t'] = p_table_4points[row[1][7]+'_s'][row[1][9]+'_t'] + 1
/var/folders/rw/kvt1fn_n0h951yj9_wjsc5wm0000gn/T/ipykernel_59622/805955535.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  collect_4points = collect_4points.append(row[1])
/var/folders/rw/kvt1fn_n0h951yj9_wjsc5wm0000gn/T/ipykernel_59622/805955535.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  p_table_4points[row[1][7]+'_s'][row[1][9]+'_t'] = p_table_4points[row[1][7]+'_s'][row[1][9]+'_t'] + 1
/var/folders/rw/kvt1fn_n0h951yj9_wjsc5wm0000gn/T/ipykernel_59622/805955535.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  collect_4points = collect_4points.append(row[1])
/var/folders/rw/kvt1fn_n0h951yj9_wjsc5wm0000gn/T/ipykernel_59622/805955535.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  p_table_4points[row[1][7]+'_s'][row[1][9]+'_t'] = p_table_4points[row[1][7]+'_s'][row[1][9]+'_t'] + 1
/var/folders/rw/kvt1fn_n0h951yj9_wjsc5wm0000gn/T/ipykernel_59622/805955535.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  collect_4points = collect_4points.append(row[1])
/var/folders/rw/kvt1fn_n0h951yj9_wjsc5wm0000gn/T/ipykernel_59622/805955535.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  p_table_4points[row[1][7]+'_s'][row[1][9]+'_t'] = p_table_4points[row[1][7]+'_s'][row[1][9]+'_t'] + 1
/var/folders/rw/kvt1fn_n0h951yj9_wjsc5wm0000gn/T/ipykernel_59622/805955535.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  collect_4points = collect_4points.append(row[1])
/var/folders/rw/kvt1fn_n0h951yj9_wjsc5wm0000gn/T/ipykernel_59622/805955535.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  p_table_4points[row[1][7]+'_s'][row[1][9]+'_t'] = p_table_4points[row[1][7]+'_s'][row[1][9]+'_t'] + 1
/var/folders/rw/kvt1fn_n0h951yj9_wjsc5wm0000gn/T/ipykernel_59622/805955535.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  collect_4points = collect_4points.append(row[1])
/var/folders/rw/kvt1fn_n0h951yj9_wjsc5wm0000gn/T/ipykernel_59622/805955535.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  p_table_4points[row[1][7]+'_s'][row[1][9]+'_t'] = p_table_4points[row[1][7]+'_s'][row[1][9]+'_t'] + 1
/var/folders/rw/kvt1fn_n0h951yj9_wjsc5wm0000gn/T/ipykernel_59622/805955535.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  collect_4points = collect_4points.append(row[1])
/var/folders/rw/kvt1fn_n0h951yj9_wjsc5wm0000gn/T/ipykernel_59622/805955535.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  p_table_4points[row[1][7]+'_s'][row[1][9]+'_t'] = p_table_4points[row[1][7]+'_s'][row[1][9]+'_t'] + 1
/var/folders/rw/kvt1fn_n0h951yj9_wjsc5wm0000gn/T/ipykernel_59622/805955535.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  collect_4points = collect_4points.append(row[1])
/var/folders/rw/kvt1fn_n0h951yj9_wjsc5wm0000gn/T/ipykernel_59622/805955535.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  p_table_4points[row[1][7]+'_s'][row[1][9]+'_t'] = p_table_4points[row[1][7]+'_s'][row[1][9]+'_t'] + 1
/var/folders/rw/kvt1fn_n0h951yj9_wjsc5wm0000gn/T/ipykernel_59622/805955535.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.

,Unnamed: 0,link_type,weight,dataset_x,source,target,key,source_type,source_country,target_type,target_country
177,177,partnership,0.855847,MC1,Faroe Islands Shrimp Shark,979893388,0,company,Rio Isla,organization,NaN
777,777,partnership,0.860494,MC1,69150209,979893388,0,organization,NaN,organization,NaN
866,866,partnership,0.831708,MC1,Maria Mitchell,979893388,0,person,Oceanus,organization,NaN
1095,1095,partnership,0.836273,MC1,6731,979893388,0,organization,NaN,organization,NaN
1142,1142,partnership,0.880474,MC1,665,979893388,0,organization,NaN,organization,NaN
2422,2422,partnership,0.900931,MC1,8327,Calvin Salas,0,organization,NaN,person,Marebak
2594,2594,partnership,0.837715,MC1,9786,979893388,0,organization,NaN,organization,NaN
4533,4533,partnership,0.819067,MC1,Kelly Brown,979893388,0,person,Country_198078,organization,NaN
4961,4961,partnership,0.901047,MC1,979893388,months,0,organization,NaN,movement,NaN
4966,4966,partnership,0.866931,MC1,979893388,98703,0,organization,NaN,organization,NaN
4967,4967,partnership,0.852776,MC1,979893388,Dana Goodwin,0,organization,NaN,person,Marebak
4968,4968,partnership,0.854423,MC1,979893388,567,0,organization,NaN,organization,NaN
4970,4970,partnership,0.838082,MC1,979893388,23,0,organization,NaN,organization,NaN
4982,4982,partnership,0.816541,MC1,979893388,418382,0,organization,NaN,organization,NaN
4983,4983,partnership,0.827533,MC1,979893388,16927047,0,organization,NaN,organization,NaN
4984,4984,partnership,0.856693,MC1,979893388,30041,0,organization,NaN,organization,NaN
4987,4987,partnership,0.810879,MC1,979893388,565431,0,organization,NaN,organization,NaN
4988,4988,partnership,0.928481,MC1,979893388,Benton Ltd. Liability Co,0,organization,NaN,company,Country_271835
4989,4989,partnership,0.855360,MC1,979893388,ninety,0,organization,NaN,movement,NaN
4991,4991,partnership,0.945531,MC1,979893388,days,0,organization,NaN,movement,NaN
4992,4992,partnership,0.822198,MC1,979893388,sh rn y Corporation,0,organization,NaN,unknown,NaN
4993,4993,partnership,0.933341,MC1,979893388,822596165,0,organization,NaN,organization,NaN
4994,4994,partnership,0.969303,MC1,979893388,5421,0,organization,NaN,organization,NaN
4995,4995,partnership,0.867280,MC1,979893388,2913,0,organization,NaN,organization,NaN
4996,4996,partnership,0.909865,MC1,979893388,Pez Dorado BV Logistics,0,organization,NaN,company,Country_271835
4997,4997,partnership,0.901353,MC1,979893388,019d89a8-36be-4402-bf3c-d13cb982cf3f,0,organization,NaN,location,NaN
5005,5005,partnership,0.937897,MC1,979893388,57,0,organization,NaN,political_organization,NaN
5006,5006,partnership,0.959120,MC1,979893388,Luis Jones,0,organization,NaN,person,Riodelsol
5007,5007,partnership,0.908736,MC1,979893388,c01c6a10-60c9-4f11-9409-aa04c3963826,0,organization,NaN,location,NaN
5008,5008,partnership,0.935585,MC1,979893388,17232,0,organization,NaN,political_organization,NaN
5009,5009,partnership,0.886883,MC1,979893388,Derek Burke,0,organization,NaN,person,Nalakond
5362,5362,partnership,0.834555,MC1,6335187,979893388,0,organization,NaN,organization,NaN
6897,6897,partnership,0.866446,MC1,58877070,979893388,0,organization,NaN,organization,NaN
7058,7058,partnership,0.841500,MC1,Lisa Rocha,979893388,0,person,Quandarix,organization,NaN
7294,7294,partnership,0.957123,MC1,6f59e8d7-8f5d-4a7d-a3a4-50ddcb7ad9ad,979893388,0,location,NaN,organization,NaN
8038,8038,partnership,0.812323,MC1,Kevin Burnett,Mar de la Vida OJSC,0,person,Country_271835,unknown,NaN
8267,8267,partnership,0.896930,MC1,6070651,979893388,0,organization,NaN,organization,NaN
8300,8300,partnership,0.900007,MC1,c01c6a10-60c9-4f11-9409-aa04c3963826,979893388,0,location,NaN,organization,NaN
8317,8317,partnership,0.881707,MC1,156,979893388,0,political_organization,NaN,organization,NaN
8325,8325,partnership,0.868431,MC1,1eb512b7-c4ce-4b7e-9965-2236bf1afc9e,979893388,0,location,NaN,organization,NaN
10379,10379,partnership,0.909512,MC1,Estrella de Coral Ltd. Corporation Logistics,979893388,0,unknown,NaN,organization,NaN
10468,10468,partnership,0.884882,MC1,Mar de la Vida OJSC,Kevin Burnett,0,unknown,NaN,person,Country_271835

In [59]:
# 个数
p_table

,company_s,event_s,location_s,movement_s,organization_s,person_s,political_organization_s,vessel_s,unknown_s
company_t,8.0,1.0,9.0,2.0,44.0,19.0,2.0,2.0,19.0
event_t,1.0,1.0,0.0,0.0,4.0,9.0,0.0,0.0,2.0
location_t,5.0,0.0,8.0,2.0,33.0,18.0,7.0,2.0,8.0
movement_t,6.0,0.0,6.0,3.0,10.0,2.0,0.0,0.0,1.0
organization_t,54.0,2.0,32.0,1.0,213.0,70.0,11.0,1.0,62.0
person_t,13.0,1.0,24.0,0.0,80.0,0.0,10.0,5.0,55.0
political_organization_t,2.0,1.0,10.0,0.0,28.0,15.0,6.0,0.0,6.0
vessel_t,2.0,0.0,0.0,0.0,9.0,2.0,0.0,0.0,4.0
unknown_t,26.0,3.0,10.0,3.0,74.0,42.0,3.0,4.0,36.0

In [60]:
# 个数
p_table_4points

,company_s,event_s,location_s,movement_s,organization_s,person_s,political_organization_s,vessel_s,unknown_s
company_t,NaN,NaN,NaN,NaN,2,NaN,NaN,NaN,0
event_t,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,0
location_t,NaN,NaN,NaN,NaN,2,NaN,NaN,NaN,0
movement_t,NaN,NaN,NaN,NaN,3,NaN,NaN,NaN,0
organization_t,1,0,3,0,17,3,1,0,1
person_t,NaN,NaN,NaN,NaN,4,NaN,NaN,NaN,1
political_organization_t,NaN,NaN,NaN,NaN,2,NaN,NaN,NaN,0
vessel_t,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,0
unknown_t,0,0,0,0,1,1,0,0,0

In [61]:
# 总数
print(p_cnt)

1154

In [62]:
# 比例
p_table=(p_table/11069) * 100
p_table

,company_s,event_s,location_s,movement_s,organization_s,person_s,political_organization_s,vessel_s,unknown_s
company_t,0.072274,0.009034,0.081308,0.018068,0.397507,0.171651,0.018068,0.018068,0.171651
event_t,0.009034,0.009034,0.000000,0.000000,0.036137,0.081308,0.000000,0.000000,0.018068
location_t,0.045171,0.000000,0.072274,0.018068,0.298130,0.162616,0.063240,0.018068,0.072274
movement_t,0.054205,0.000000,0.054205,0.027103,0.090342,0.018068,0.000000,0.000000,0.009034
organization_t,0.487849,0.018068,0.289096,0.009034,1.924293,0.632397,0.099377,0.009034,0.560123
person_t,0.117445,0.009034,0.216822,0.000000,0.722739,0.000000,0.090342,0.045171,0.496883
political_organization_t,0.018068,0.009034,0.090342,0.000000,0.252959,0.135514,0.054205,0.000000,0.054205
vessel_t,0.018068,0.000000,0.000000,0.000000,0.081308,0.018068,0.000000,0.000000,0.036137
unknown_t,0.234890,0.027103,0.090342,0.027103,0.668534,0.379438,0.027103,0.036137,0.325233

In [63]:
# 比例
p_table_4points=(p_table_4points/11069) * 100
p_table_4points

,company_s,event_s,location_s,movement_s,organization_s,person_s,political_organization_s,vessel_s,unknown_s
company_t,NaN,NaN,NaN,NaN,0.018068,NaN,NaN,NaN,0.000000
event_t,NaN,NaN,NaN,NaN,0.000000,NaN,NaN,NaN,0.000000
location_t,NaN,NaN,NaN,NaN,0.018068,NaN,NaN,NaN,0.000000
movement_t,NaN,NaN,NaN,NaN,0.027103,NaN,NaN,NaN,0.000000
organization_t,0.009034,0.0,0.027103,0.0,0.153582,0.027103,0.009034,0.0,0.009034
person_t,NaN,NaN,NaN,NaN,0.036137,NaN,NaN,NaN,0.009034
political_organization_t,NaN,NaN,NaN,NaN,0.018068,NaN,NaN,NaN,0.000000
vessel_t,NaN,NaN,NaN,NaN,0.000000,NaN,NaN,NaN,0.000000
unknown_t,0.0,0.0,0.0,0.0,0.009034,0.009034,0.0,0.0,0.000000

# Membership

In [64]:
arr5 = np.zeros((9,9))

m_table=pd.DataFrame(arr5, columns=['company_s', 'event_s', 'location_s', 'movement_s', 'organization_s', 'person_s', 'political_organization_s', 'vessel_s', 'unknown_s'],index=['company_t', 'event_t', 'location_t', 'movement_t', 'organization_t', 'person_t', 'political_organization_t', 'vessel_t', 'unknown_t'])

m_table_4points=pd.DataFrame( columns=['company_s', 'event_s', 'location_s', 'movement_s', 'organization_s', 'person_s', 'political_organization_s', 'vessel_s', 'unknown_s'],index=['company_t', 'event_t', 'location_t', 'movement_t', 'organization_t', 'person_t', 'political_organization_t', 'vessel_t', 'unknown_t'])

m_table_4points['organization_s'] = 0
m_table_4points['unknown_s'] = 0
m_table_4points.iloc[4] = 0
m_table_4points.iloc[8] = 0

m_cnt = 0

In [65]:
collect_4points = pd.DataFrame()
for row in df.iterrows():
    # print(row[1][1],row[1][7],row[1][9])
    st=(row[1][4],row[1][5])
    if row[1][1] == 'membership' and (st in edges1):
        m_cnt = m_cnt + 1
        m_table[row[1][7]+'_s'][row[1][9]+'_t'] = m_table[row[1][7]+'_s'][row[1][9]+'_t'] + 1

        if (row[1][4] == 'Mar de la Vida OJSC') or (row[1][5] == 'Mar de la Vida OJSC') or (row[1][4] == '979893388') or (row[1][5] == '979893388') or (row[1][4] == 'Oceanfront Oasis Inc Carriers') or (row[1][5] == 'Oceanfront Oasis Inc Carriers') or (row[1][4] == '8327') or (row[1][5] == '8327'):
            collect_4points = collect_4points.append(row[1])
            m_table_4points[row[1][7]+'_s'][row[1][9]+'_t'] = m_table_4points[row[1][7]+'_s'][row[1][9]+'_t'] + 1

collect_4points

/var/folders/rw/kvt1fn_n0h951yj9_wjsc5wm0000gn/T/ipykernel_59622/3539809015.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  collect_4points = collect_4points.append(row[1])
/var/folders/rw/kvt1fn_n0h951yj9_wjsc5wm0000gn/T/ipykernel_59622/3539809015.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  m_table_4points[row[1][7]+'_s'][row[1][9]+'_t'] = m_table_4points[row[1][7]+'_s'][row[1][9]+'_t'] + 1
/var/folders/rw/kvt1fn_n0h951yj9_wjsc5wm0000gn/T/ipykernel_59622/3539809015.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  collect_4points = collect_4points.append(row[1])
/var/folders/rw/kvt1fn_n0h951yj9_wjsc5wm0000gn/T/ipykernel_59622/3539809015.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  m_table_4points[row[1][7]+'_s'][row[1][9]+'_t'] = m_table_4points[row[1][7]+'_s'][row[1][9]+'_t'] + 1
/var/folders/rw/kvt1fn_n0h951yj9_wjsc5wm0000gn/T/ipykernel_59622/3539809015.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  collect_4points = collect_4points.append(row[1])
/var/folders/rw/kvt1fn_n0h951yj9_wjsc5wm0000gn/T/ipykernel_59622/3539809015.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  m_table_4points[row[1][7]+'_s'][row[1][9]+'_t'] = m_table_4points[row[1][7]+'_s'][row[1][9]+'_t'] + 1
/var/folders/rw/kvt1fn_n0h951yj9_wjsc5wm0000gn/T/ipykernel_59622/3539809015.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  collect_4points = collect_4points.append(row[1])
/var/folders/rw/kvt1fn_n0h951yj9_wjsc5wm0000gn/T/ipykernel_59622/3539809015.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  m_table_4points[row[1][7]+'_s'][row[1][9]+'_t'] = m_table_4points[row[1][7]+'_s'][row[1][9]+'_t'] + 1
/var/folders/rw/kvt1fn_n0h951yj9_wjsc5wm0000gn/T/ipykernel_59622/3539809015.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  collect_4points = collect_4points.append(row[1])
/var/folders/rw/kvt1fn_n0h951yj9_wjsc5wm0000gn/T/ipykernel_59622/3539809015.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  m_table_4points[row[1][7]+'_s'][row[1][9]+'_t'] = m_table_4points[row[1][7]+'_s'][row[1][9]+'_t'] + 1
/var/folders/rw/kvt1fn_n0h951yj9_wjsc5wm0000gn/T/ipykernel_59622/3539809015.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  collect_4points = collect_4points.append(row[1])
/var/folders/rw/kvt1fn_n0h951yj9_wjsc5wm0000gn/T/ipykernel_59622/3539809015.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  m_table_4points[row[1][7]+'_s'][row[1][9]+'_t'] = m_table_4points[row[1][7]+'_s'][row[1][9]+'_t'] + 1
/var/folders/rw/kvt1fn_n0h951yj9_wjsc5wm0000gn/T/ipykernel_59622/3539809015.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  collect_4points = collect_4points.append(row[1])
/var/folders/rw/kvt1fn_n0h951yj9_wjsc5wm0000gn/T/ipykernel_59622/3539809015.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  m_table_4points[row[1][7]+'_s'][row[1][9]+'_t'] = m_table_4points[row[1][7]+'_s'][row[1][9]+'_t'] + 1
/var/folders/rw/kvt1fn_n0h951yj9_wjsc5wm0000gn/T/ipykernel_59622/3539809015.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  collect_4points = collect_4points.append(row[1])
/var/folders/rw/kvt1fn_n0h951yj9_wjsc5wm0000gn/T/ipykernel_59622/3539809015.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  m_table_4points[row[1][7]+'_s'][row[1][9]+'_t'] = m_table_4points[row[1][7]+'_s'][row[1][9]+'_t'] + 1
/var/folders/rw/kvt1fn_n0h951yj9_wjsc5wm0000gn/T/ipykernel_59622/3539809015.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  collect_4points = collect_4points.append(row[1])
/var/folders/rw/kvt1fn_n0h951yj9_wjsc5wm0000gn/T/ipykernel_59622/3539809015.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  m_table_4points[row[1][7]+'_s'][row[1][9]+'_t'] = m_table_4points[row[1][7]+'_s'][row[1][9]+'_t'] + 1
/var/folders/rw/kvt1fn_n0h951yj9_wjsc5wm0000gn/T/ipykernel_59622/3539809015.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  collect_4points = collect_4points.append(row[1])
/var/folders/rw/kvt1fn_n0h951yj9_wjsc5wm0000gn/T/ipykernel_59622/3539809015.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  m_table_4points[row[1][7]+'_s'][row[1][9]+'_t'] = m_table_4points[row[1][7]+'_s'][row[1][9]+'_t'] + 1
/var/folders/rw/kvt1fn_n0h951yj9_wjsc5wm0000gn/T/ipykernel_59622/3539809015.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  collect_4points = collect_4points.append(row[1])
/var/folders/rw/kvt1fn_n0h951yj9_wjsc5wm0000gn/T/ipykernel_59622/3539809015.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  m_table_4points[row[1][7]+'_s'][row[1][9]+'_t'] = m_table_4points[row[1][7]+'_s'][row[1][9]+'_t'] + 1
/var/folders/rw/kvt1fn_n0h951yj9_wjsc5wm0000gn/T/ipykernel_59622/3539809015.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  collect_4points = collect_4points.append(row[1])
/var/folders/rw/kvt1fn_n0h951yj9_wjsc5wm0000gn/T/ipykernel_59622/3539809015.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  m_table_4points[row[1][7]+'_s'][row[1][9]+'_t'] = m_table_4points[row[1][7]+'_s'][row[1][9]+'_t'] + 1
/var/folders/rw/kvt1fn_n0h951yj9_wjsc5wm0000gn/T/ipykernel_59622/3539809015.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  collect_4points = collect_4points.append(row[1])
/var/folders/rw/kvt1fn_n0h951yj9_wjsc5wm0000gn/T/ipykernel_59622/3539809015.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  m_table_4points[row[1][7]+'_s'][row[1][9]+'_t'] = m_table_4points[row[1][7]+'_s'][row[1][9]+'_t'] + 1
/var/folders/rw/kvt1fn_n0h951yj9_wjsc5wm0000gn/T/ipykernel_59622/3539809015.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  collect_4points = collect_4points.append(row[1])
/var/folders/rw/kvt1fn_n0h951yj9_wjsc5wm0000gn/T/ipykernel_59622/3539809015.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  m_table_4points[row[1][7]+'_s'][row[1][9]+'_t'] = m_table_4points[row[1][7]+'_s'][row[1][9]+'_t'] + 1
/var/folders/rw/kvt1fn_n0h951yj9_wjsc5wm0000gn/T/ipykernel_59622/3539809015.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  collect_4points = collect_4points.append(row[1])
/var/folders/rw/kvt1fn_n0h951yj9_wjsc5wm0000gn/T/ipykernel_59622/3539809015.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  m_table_4points[row[1][7]+'_s'][row[1][9]+'_t'] = m_table_4points[row[1][7]+'_s'][row[1][9]+'_t'] + 1
/var/folders/rw/kvt1fn_n0h951yj9_wjsc5wm0000gn/T/ipykernel_59622/3539809015.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  collect_4points = collect_4points.append(row[1])
/var/folders/rw/kvt1fn_n0h951yj9_wjsc5wm0000gn/T/ipykernel_59622/3539809015.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  m_table_4points[row[1][7]+'_s'][row[1][9]+'_t'] = m_table_4points[row[1][7]+'_s'][row[1][9]+'_t'] + 1
/var/folders/rw/kvt1fn_n0h951yj9_wjsc5wm0000gn/T/ipykernel_59622/3539809015.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  collect_4points = collect_4points.append(row[1])
/var/folders/rw/kvt1fn_n0h951yj9_wjsc5wm0000gn/T/ipykernel_59622/3539809015.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  m_table_4points[row[1][7]+'_s'][row[1][9]+'_t'] = m_table_4points[row[1][7]+'_s'][row[1][9]+'_t'] + 1
/var/folders/rw/kvt1fn_n0h951yj9_wjsc5wm0000gn/T/ipykernel_59622/3539809015.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  collect_4points = collect_4points.append(row[1])
/var/folders/rw/kvt1fn_n0h951yj9_wjsc5wm0000gn/T/ipykernel_59622/3539809015.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  m_table_4points[row[1][7]+'_s'][row[1][9]+'_t'] = m_table_4points[row[1][7]+'_s'][row[1][9]+'_t'] + 1
/var/folders/rw/kvt1fn_n0h951yj9_wjsc5wm0000gn/T/ipykernel_59622/3539809015.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  collect_4points = collect_4points.append(row[1])
/var/folders/rw/kvt1fn_n0h951yj9_wjsc5wm0000gn/T/ipykernel_59622/3539809015.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  m_table_4points[row[1][7]+'_s'][row[1][9]+'_t'] = m_table_4points[row[1][7]+'_s'][row[1][9]+'_t'] + 1
/var/folders/rw/kvt1fn_n0h951yj9_wjsc5wm0000gn/T/ipykernel_59622/3539809015.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  collect_4points = collect_4points.append(row[1])
/var/folders/rw/kvt1fn_n0h951yj9_wjsc5wm0000gn/T/ipykernel_59622/3539809015.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  m_table_4points[row[1][7]+'_s'][row[1][9]+'_t'] = m_table_4points[row[1][7]+'_s'][row[1][9]+'_t'] + 1
/var/folders/rw/kvt1fn_n0h951yj9_wjsc5wm0000gn/T/ipykernel_59622/3539809015.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  collect_4points = collect_4points.append(row[1])
/var/folders/rw/kvt1fn_n0h951yj9_wjsc5wm0000gn/T/ipykernel_59622/3539809015.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  m_table_4points[row[1][7]+'_s'][row[1][9]+'_t'] = m_table_4points[row[1][7]+'_s'][row[1][9]+'_t'] + 1
/var/folders/rw/kvt1fn_n0h951yj9_wjsc5wm0000gn/T/ipykernel_59622/3539809015.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  collect_4points = collect_4points.append(row[1])
/var/folders/rw/kvt1fn_n0h951yj9_wjsc5wm0000gn/T/ipykernel_59622/3539809015.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  m_table_4points[row[1][7]+'_s'][row[1][9]+'_t'] = m_table_4points[row[1][7]+'_s'][row[1][9]+'_t'] + 1
/var/folders/rw/kvt1fn_n0h951yj9_wjsc5wm0000gn/T/ipykernel_59622/3539809015.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  collect_4points = collect_4points.append(row[1])
/var/folders/rw/kvt1fn_n0h951yj9_wjsc5wm0000gn/T/ipykernel_59622/3539809015.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  m_table_4points[row[1][7]+'_s'][row[1][9]+'_t'] = m_table_4points[row[1][7]+'_s'][row[1][9]+'_t'] + 1
/var/folders/rw/kvt1fn_n0h951yj9_wjsc5wm0000gn/T/ipykernel_59622/3539809015.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  collect_4points = collect_4points.append(row[1])
/var/folders/rw/kvt1fn_n0h951yj9_wjsc5wm0000gn/T/ipykernel_59622/3539809015.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  m_table_4points[row[1][7]+'_s'][row[1][9]+'_t'] = m_table_4points[row[1][7]+'_s'][row[1][9]+'_t'] + 1
/var/folders/rw/kvt1fn_n0h951yj9_wjsc5wm0000gn/T/ipykernel_59622/3539809015.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  collect_4points = collect_4points.append(row[1])
/var/folders/rw/kvt1fn_n0h951yj9_wjsc5wm0000gn/T/ipykernel_59622/3539809015.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  m_table_4points[row[1][7]+'_s'][row[1][9]+'_t'] = m_table_4points[row[1][7]+'_s'][row[1][9]+'_t'] + 1
/var/folders/rw/kvt1fn_n0h951yj9_wjsc5wm0000gn/T/ipykernel_59622/3539809015.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  collect_4points = collect_4points.append(row[1])
/var/folders/rw/kvt1fn_n0h951yj9_wjsc5wm0000gn/T/ipykernel_59622/3539809015.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  m_table_4points[row[1][7]+'_s'][row[1][9]+'_t'] = m_table_4points[row[1][7]+'_s'][row[1][9]+'_t'] + 1
/var/folders/rw/kvt1fn_n0h951yj9_wjsc5wm0000gn/T/ipykernel_59622/3539809015.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  collect_4points = collect_4points.append(row[1])
/var/folders/rw/kvt1fn_n0h951yj9_wjsc5wm0000gn/T/ipykernel_59622/3539809015.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  m_table_4points[row[1][7]+'_s'][row[1][9]+'_t'] = m_table_4points[row[1][7]+'_s'][row[1][9]+'_t'] + 1
/var/folders/rw/kvt1fn_n0h951yj9_wjsc5wm0000gn/T/ipykernel_59622/3539809015.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  collect_4points = collect_4points.append(row[1])
/var/folders/rw/kvt1fn_n0h951yj9_wjsc5wm0000gn/T/ipykernel_59622/3539809015.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  m_table_4points[row[1][7]+'_s'][row[1][9]+'_t'] = m_table_4points[row[1][7]+'_s'][row[1][9]+'_t'] + 1
/var/folders/rw/kvt1fn_n0h951yj9_wjsc5wm0000gn/T/ipykernel_59622/3539809015.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  collect_4points = collect_4points.append(row[1])
/var/folders/rw/kvt1fn_n0h951yj9_wjsc5wm0000gn/T/ipykernel_59622/3539809015.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  m_table_4points[row[1][7]+'_s'][row[1][9]+'_t'] = m_table_4points[row[1][7]+'_s'][row[1][9]+'_t'] + 1

,Unnamed: 0,link_type,weight,dataset_x,source,target,key,source_type,source_country,target_type,target_country
1249,1249,membership,0.901995,MC1,435054320,8327,0,organization,NaN,organization,NaN
1693,1693,membership,0.854808,MC1,png xi Line,979893388,0,company,Country_628643,organization,NaN
1954,1954,membership,0.826960,MC1,April,979893388,0,event,NaN,organization,NaN
2170,2170,membership,0.859966,MC1,672,979893388,0,organization,NaN,organization,NaN
2326,2326,membership,0.856843,MC1,Mar del Oeste Pic,979893388,0,company,Vesperlandia,organization,NaN
2329,2329,membership,0.852978,MC1,Mar del Oeste Pic,979893388,3,company,Vesperlandia,organization,NaN
2330,2330,membership,0.807380,MC1,Mar del Oeste Pic,979893388,4,company,Vesperlandia,organization,NaN
2418,2418,membership,0.816972,MC1,8327,435054320,0,organization,NaN,organization,NaN
2419,2419,membership,0.884615,MC1,8327,7505050,0,organization,NaN,organization,NaN
2420,2420,membership,0.817435,MC1,8327,âIllegal,0,organization,NaN,unknown,NaN
2421,2421,membership,0.906220,MC1,8327,water,0,organization,NaN,vessel,NaN
2477,2477,membership,0.827284,MC1,7505050,8327,0,organization,NaN,organization,NaN
2500,2500,membership,0.891678,MC1,Today,8327,0,event,NaN,organization,NaN
2562,2562,membership,0.810689,MC1,98332,979893388,0,organization,NaN,organization,NaN
3951,3951,membership,0.830878,MC1,7023,979893388,0,political_organization,NaN,organization,NaN
4396,4396,membership,0.842366,MC1,Abigail Foster,979893388,0,person,Country_895471,organization,NaN
4760,4760,membership,0.853533,MC1,Linda Sherman,979893388,0,person,Country_887466,organization,NaN
4965,4965,membership,0.844002,MC1,979893388,34,0,organization,NaN,organization,NaN
4980,4980,membership,0.819054,MC1,979893388,usa,0,organization,NaN,unknown,NaN
5001,5001,membership,0.800491,MC1,979893388,Andrea Gibson,0,organization,NaN,person,Oceanus
5017,5017,membership,0.873083,MC1,979893388,Amanda Mckenzie,0,organization,NaN,person,Oceanus
5018,5018,membership,0.863937,MC1,979893388,Michelle Kelley,0,organization,NaN,person,Country_271835
5019,5019,membership,0.887277,MC1,979893388,Austin Simpson,0,organization,NaN,person,Country_271835
5020,5020,membership,0.809903,MC1,979893388,su y CJSC Canal,0,organization,NaN,company,Country_271835
5022,5022,membership,0.808272,MC1,979893388,ââ,0,organization,NaN,unknown,NaN
5025,5025,membership,0.882909,MC1,979893388,8814,0,organization,NaN,organization,NaN
5026,5026,membership,0.815100,MC1,979893388,25851337,0,organization,NaN,organization,NaN
5027,5027,membership,0.805056,MC1,979893388,b1a0ee2a-0e6d-48c2-b639-032e4648fa5c,0,organization,NaN,location,NaN
5081,5081,membership,0.860146,MC1,67a59fab-710a-4992-b6d0-d581fd9dceba,979893388,0,location,NaN,organization,NaN
5348,5348,membership,0.905793,MC1,21240092,979893388,0,organization,NaN,organization,NaN
5836,5836,membership,0.893575,MC1,160,8327,0,organization,NaN,organization,NaN
5951,5951,membership,0.900551,MC1,36744944,979893388,0,political_organization,NaN,organization,NaN
6275,6275,membership,0.811098,MC1,903311212,979893388,1,organization,NaN,organization,NaN
6276,6276,membership,0.905139,MC1,903311212,979893388,2,organization,NaN,organization,NaN
6277,6277,membership,0.800292,MC1,903311212,979893388,3,organization,NaN,organization,NaN
6279,6279,membership,0.801433,MC1,903311212,979893388,5,organization,NaN,organization,NaN
6506,6506,membership,0.949162,MC1,23990411,979893388,0,organization,NaN,organization,NaN
6899,6899,membership,0.872943,MC1,usa,979893388,0,unknown,NaN,organization,NaN
6900,6900,membership,0.867731,MC1,oceana,979893388,0,unknown,NaN,organization,NaN
6932,6932,membership,0.812236,MC1,Makayla Anderson,979893388,0,person,Country_271835,organization,NaN
6949,6949,membership,0.801919,MC1,4657860,979893388,0,organization,NaN,organization,NaN
7904,7904,membership,0.940171,MC1,Stephanie Wiley,979893388,0,person,Country_271835,organization,NaN
8015,8015,membership,0.924342,MC1,9345,Mar de la Vida OJSC,0,political_organization,NaN,unknown,NaN
8227,8227,membership,0.826116,MC1,4356,979893388,0,organization,NaN,organization,NaN
8453,8453,membership,0.856963,MC1,f656719b-783e-452b-801f-f60895068b23,979893388,0,location,NaN,organization,NaN
8567,8567,membership,0.845403,MC1,912077,979893388,0,political_organization,NaN,organization,NaN
8971,8971,membership,0.849758,MC1,Sudd Swamp Wave AS Freight,979893388,0,company,Country_271835,organization,NaN
9712,9712,membership,0.900273,MC1,Ancla Azul Company Solutions,Mar de la Vida OJSC,0,unknown,NaN,unknown,NaN
9791,9791,membership,0.870039,MC1,SeaSpray Wave SRL Solutions,979893388,0,unknown,NaN,organization,NaN
9792,9792,membership,0.811593,MC1,SeaSpray Wave SRL Solutions,979893388,1,unknown,NaN,organization,NaN
9793,9793,membership,0.851997,MC1,SeaSpray Wave SRL Solutions,979893388,2,unknown,NaN,organization,NaN
9795,9795,membership,0.830553,MC1,SeaSpray Wave SRL Solutions,979893388,4,unknown,NaN,organization,NaN
9796,9796,membership,0.815543,MC1,SeaSpray Wave SRL Solutions,979893388,5,unknown,NaN,organization,NaN
10476,10476,membership,0.910024,MC1,Mar de la Vida OJSC,33681303,0,unknown,NaN,organization,NaN
10479,10479,membership,0.933502,MC1,Mar de la Vida OJSC,Ancla Azul Company Solutions,0,unknown,NaN,unknown,NaN
10736,10736,membership,0.885812,MC1,Forwading S.A. de C.V.,979893388,0,unknown,NaN,organization,NaN

In [66]:
# 个数
m_table

,company_s,event_s,location_s,movement_s,organization_s,person_s,political_organization_s,vessel_s,unknown_s
company_t,26.0,3.0,29.0,2.0,72.0,32.0,4.0,3.0,36.0
event_t,4.0,0.0,1.0,2.0,10.0,12.0,2.0,0.0,5.0
location_t,13.0,2.0,11.0,1.0,25.0,19.0,7.0,2.0,18.0
movement_t,2.0,0.0,1.0,0.0,7.0,4.0,0.0,1.0,3.0
organization_t,48.0,8.0,30.0,7.0,178.0,66.0,23.0,6.0,91.0
person_t,27.0,4.0,25.0,3.0,89.0,0.0,9.0,2.0,66.0
political_organization_t,1.0,2.0,4.0,0.0,13.0,18.0,10.0,1.0,2.0
vessel_t,5.0,0.0,0.0,0.0,14.0,1.0,0.0,0.0,3.0
unknown_t,40.0,4.0,30.0,4.0,98.0,38.0,10.0,2.0,73.0

In [67]:
# 个数
m_table_4points

,company_s,event_s,location_s,movement_s,organization_s,person_s,political_organization_s,vessel_s,unknown_s
company_t,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,0
event_t,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,0
location_t,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,0
movement_t,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,0
organization_t,5,2,2,0,18,4,3,0,9
person_t,NaN,NaN,NaN,NaN,4,NaN,NaN,NaN,0
political_organization_t,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,0
vessel_t,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,0
unknown_t,0,0,0,0,3,0,1,0,2

In [68]:
# 总数
print(m_cnt)

1414

In [69]:
# 比例
m_table=(m_table/11069) * 100
m_table

,company_s,event_s,location_s,movement_s,organization_s,person_s,political_organization_s,vessel_s,unknown_s
company_t,0.234890,0.027103,0.261993,0.018068,0.650465,0.289096,0.036137,0.027103,0.325233
event_t,0.036137,0.000000,0.009034,0.018068,0.090342,0.108411,0.018068,0.000000,0.045171
location_t,0.117445,0.018068,0.099377,0.009034,0.225856,0.171651,0.063240,0.018068,0.162616
movement_t,0.018068,0.000000,0.009034,0.000000,0.063240,0.036137,0.000000,0.009034,0.027103
organization_t,0.433644,0.072274,0.271027,0.063240,1.608095,0.596260,0.207788,0.054205,0.822116
person_t,0.243924,0.036137,0.225856,0.027103,0.804047,0.000000,0.081308,0.018068,0.596260
political_organization_t,0.009034,0.018068,0.036137,0.000000,0.117445,0.162616,0.090342,0.009034,0.018068
vessel_t,0.045171,0.000000,0.000000,0.000000,0.126479,0.009034,0.000000,0.000000,0.027103
unknown_t,0.361370,0.036137,0.271027,0.036137,0.885355,0.343301,0.090342,0.018068,0.659500

In [70]:
# 比例
m_table_4points=(m_table_4points/11069) * 100
m_table_4points

,company_s,event_s,location_s,movement_s,organization_s,person_s,political_organization_s,vessel_s,unknown_s
company_t,NaN,NaN,NaN,NaN,0.009034,NaN,NaN,NaN,0.000000
event_t,NaN,NaN,NaN,NaN,0.000000,NaN,NaN,NaN,0.000000
location_t,NaN,NaN,NaN,NaN,0.009034,NaN,NaN,NaN,0.000000
movement_t,NaN,NaN,NaN,NaN,0.000000,NaN,NaN,NaN,0.000000
organization_t,0.045171,0.018068,0.018068,0.0,0.162616,0.036137,0.027103,0.0,0.081308
person_t,NaN,NaN,NaN,NaN,0.036137,NaN,NaN,NaN,0.000000
political_organization_t,NaN,NaN,NaN,NaN,0.000000,NaN,NaN,NaN,0.000000
vessel_t,NaN,NaN,NaN,NaN,0.009034,NaN,NaN,NaN,0.000000
unknown_t,0.0,0.0,0.0,0.0,0.027103,0.0,0.009034,0.0,0.018068

# Family_relationship

In [71]:
arr7 = np.zeros((9,9))

f_table=pd.DataFrame(arr7, columns=['company_s', 'event_s', 'location_s', 'movement_s', 'organization_s', 'person_s', 'political_organization_s', 'vessel_s', 'unknown_s'],index=['company_t', 'event_t', 'location_t', 'movement_t', 'organization_t', 'person_t', 'political_organization_t', 'vessel_t', 'unknown_t'])

f_table_4points=pd.DataFrame(columns=['company_s', 'event_s', 'location_s', 'movement_s', 'organization_s', 'person_s', 'political_organization_s', 'vessel_s', 'unknown_s'],index=['company_t', 'event_t', 'location_t', 'movement_t', 'organization_t', 'person_t', 'political_organization_t', 'vessel_t', 'unknown_t'])
f_table_4points['organization_s'] = 0
f_table_4points['unknown_s'] = 0
f_table_4points.iloc[4] = 0
f_table_4points.iloc[8] = 0

f_cnt = 0

In [72]:
collect_4points = pd.DataFrame()
for row in df.iterrows():
    # print(row[1][1],row[1][7],row[1][9])
    st=(row[1][4],row[1][5])
    if row[1][1] == 'family_relationship' and (st in edges1):
        f_cnt = f_cnt + 1
        f_table[row[1][7]+'_s'][row[1][9]+'_t'] = f_table[row[1][7]+'_s'][row[1][9]+'_t'] + 1

        if (row[1][4] == 'Mar de la Vida OJSC') or (row[1][5] == 'Mar de la Vida OJSC') or (row[1][4] == '979893388') or (row[1][5] == '979893388') or (row[1][4] == 'Oceanfront Oasis Inc Carriers') or (row[1][5] == 'Oceanfront Oasis Inc Carriers') or (row[1][4] == '8327') or (row[1][5] == '8327'):
            collect_4points = collect_4points.append(row[1])
            f_table_4points[row[1][7]+'_s'][row[1][9]+'_t'] = f_table_4points[row[1][7]+'_s'][row[1][9]+'_t'] + 1

collect_4points

/var/folders/rw/kvt1fn_n0h951yj9_wjsc5wm0000gn/T/ipykernel_59622/4245862404.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  collect_4points = collect_4points.append(row[1])
/var/folders/rw/kvt1fn_n0h951yj9_wjsc5wm0000gn/T/ipykernel_59622/4245862404.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  f_table_4points[row[1][7]+'_s'][row[1][9]+'_t'] = f_table_4points[row[1][7]+'_s'][row[1][9]+'_t'] + 1
/var/folders/rw/kvt1fn_n0h951yj9_wjsc5wm0000gn/T/ipykernel_59622/4245862404.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  collect_4points = collect_4points.append(row[1])
/var/folders/rw/kvt1fn_n0h951yj9_wjsc5wm0000gn/T/ipykernel_59622/4245862404.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  f_table_4points[row[1][7]+'_s'][row[1][9]+'_t'] = f_table_4points[row[1][7]+'_s'][row[1][9]+'_t'] + 1
/var/folders/rw/kvt1fn_n0h951yj9_wjsc5wm0000gn/T/ipykernel_59622/4245862404.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  collect_4points = collect_4points.append(row[1])
/var/folders/rw/kvt1fn_n0h951yj9_wjsc5wm0000gn/T/ipykernel_59622/4245862404.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  f_table_4points[row[1][7]+'_s'][row[1][9]+'_t'] = f_table_4points[row[1][7]+'_s'][row[1][9]+'_t'] + 1
/var/folders/rw/kvt1fn_n0h951yj9_wjsc5wm0000gn/T/ipykernel_59622/4245862404.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  collect_4points = collect_4points.append(row[1])
/var/folders/rw/kvt1fn_n0h951yj9_wjsc5wm0000gn/T/ipykernel_59622/4245862404.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  f_table_4points[row[1][7]+'_s'][row[1][9]+'_t'] = f_table_4points[row[1][7]+'_s'][row[1][9]+'_t'] + 1
/var/folders/rw/kvt1fn_n0h951yj9_wjsc5wm0000gn/T/ipykernel_59622/4245862404.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  collect_4points = collect_4points.append(row[1])
/var/folders/rw/kvt1fn_n0h951yj9_wjsc5wm0000gn/T/ipykernel_59622/4245862404.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  f_table_4points[row[1][7]+'_s'][row[1][9]+'_t'] = f_table_4points[row[1][7]+'_s'][row[1][9]+'_t'] + 1
/var/folders/rw/kvt1fn_n0h951yj9_wjsc5wm0000gn/T/ipykernel_59622/4245862404.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  collect_4points = collect_4points.append(row[1])
/var/folders/rw/kvt1fn_n0h951yj9_wjsc5wm0000gn/T/ipykernel_59622/4245862404.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  f_table_4points[row[1][7]+'_s'][row[1][9]+'_t'] = f_table_4points[row[1][7]+'_s'][row[1][9]+'_t'] + 1
/var/folders/rw/kvt1fn_n0h951yj9_wjsc5wm0000gn/T/ipykernel_59622/4245862404.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  collect_4points = collect_4points.append(row[1])
/var/folders/rw/kvt1fn_n0h951yj9_wjsc5wm0000gn/T/ipykernel_59622/4245862404.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  f_table_4points[row[1][7]+'_s'][row[1][9]+'_t'] = f_table_4points[row[1][7]+'_s'][row[1][9]+'_t'] + 1
/var/folders/rw/kvt1fn_n0h951yj9_wjsc5wm0000gn/T/ipykernel_59622/4245862404.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  collect_4points = collect_4points.append(row[1])
/var/folders/rw/kvt1fn_n0h951yj9_wjsc5wm0000gn/T/ipykernel_59622/4245862404.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  f_table_4points[row[1][7]+'_s'][row[1][9]+'_t'] = f_table_4points[row[1][7]+'_s'][row[1][9]+'_t'] + 1
/var/folders/rw/kvt1fn_n0h951yj9_wjsc5wm0000gn/T/ipykernel_59622/4245862404.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  collect_4points = collect_4points.append(row[1])
/var/folders/rw/kvt1fn_n0h951yj9_wjsc5wm0000gn/T/ipykernel_59622/4245862404.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  f_table_4points[row[1][7]+'_s'][row[1][9]+'_t'] = f_table_4points[row[1][7]+'_s'][row[1][9]+'_t'] + 1
/var/folders/rw/kvt1fn_n0h951yj9_wjsc5wm0000gn/T/ipykernel_59622/4245862404.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  collect_4points = collect_4points.append(row[1])
/var/folders/rw/kvt1fn_n0h951yj9_wjsc5wm0000gn/T/ipykernel_59622/4245862404.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  f_table_4points[row[1][7]+'_s'][row[1][9]+'_t'] = f_table_4points[row[1][7]+'_s'][row[1][9]+'_t'] + 1
/var/folders/rw/kvt1fn_n0h951yj9_wjsc5wm0000gn/T/ipykernel_59622/4245862404.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  collect_4points = collect_4points.append(row[1])
/var/folders/rw/kvt1fn_n0h951yj9_wjsc5wm0000gn/T/ipykernel_59622/4245862404.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  f_table_4points[row[1][7]+'_s'][row[1][9]+'_t'] = f_table_4points[row[1][7]+'_s'][row[1][9]+'_t'] + 1
/var/folders/rw/kvt1fn_n0h951yj9_wjsc5wm0000gn/T/ipykernel_59622/4245862404.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  collect_4points = collect_4points.append(row[1])
/var/folders/rw/kvt1fn_n0h951yj9_wjsc5wm0000gn/T/ipykernel_59622/4245862404.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  f_table_4points[row[1][7]+'_s'][row[1][9]+'_t'] = f_table_4points[row[1][7]+'_s'][row[1][9]+'_t'] + 1
/var/folders/rw/kvt1fn_n0h951yj9_wjsc5wm0000gn/T/ipykernel_59622/4245862404.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  collect_4points = collect_4points.append(row[1])
/var/folders/rw/kvt1fn_n0h951yj9_wjsc5wm0000gn/T/ipykernel_59622/4245862404.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  f_table_4points[row[1][7]+'_s'][row[1][9]+'_t'] = f_table_4points[row[1][7]+'_s'][row[1][9]+'_t'] + 1
/var/folders/rw/kvt1fn_n0h951yj9_wjsc5wm0000gn/T/ipykernel_59622/4245862404.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  collect_4points = collect_4points.append(row[1])
/var/folders/rw/kvt1fn_n0h951yj9_wjsc5wm0000gn/T/ipykernel_59622/4245862404.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  f_table_4points[row[1][7]+'_s'][row[1][9]+'_t'] = f_table_4points[row[1][7]+'_s'][row[1][9]+'_t'] + 1
/var/folders/rw/kvt1fn_n0h951yj9_wjsc5wm0000gn/T/ipykernel_59622/4245862404.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  collect_4points = collect_4points.append(row[1])
/var/folders/rw/kvt1fn_n0h951yj9_wjsc5wm0000gn/T/ipykernel_59622/4245862404.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  f_table_4points[row[1][7]+'_s'][row[1][9]+'_t'] = f_table_4points[row[1][7]+'_s'][row[1][9]+'_t'] + 1
/var/folders/rw/kvt1fn_n0h951yj9_wjsc5wm0000gn/T/ipykernel_59622/4245862404.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  collect_4points = collect_4points.append(row[1])
/var/folders/rw/kvt1fn_n0h951yj9_wjsc5wm0000gn/T/ipykernel_59622/4245862404.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  f_table_4points[row[1][7]+'_s'][row[1][9]+'_t'] = f_table_4points[row[1][7]+'_s'][row[1][9]+'_t'] + 1
/var/folders/rw/kvt1fn_n0h951yj9_wjsc5wm0000gn/T/ipykernel_59622/4245862404.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  collect_4points = collect_4points.append(row[1])
/var/folders/rw/kvt1fn_n0h951yj9_wjsc5wm0000gn/T/ipykernel_59622/4245862404.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  f_table_4points[row[1][7]+'_s'][row[1][9]+'_t'] = f_table_4points[row[1][7]+'_s'][row[1][9]+'_t'] + 1
/var/folders/rw/kvt1fn_n0h951yj9_wjsc5wm0000gn/T/ipykernel_59622/4245862404.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  collect_4points = collect_4points.append(row[1])
/var/folders/rw/kvt1fn_n0h951yj9_wjsc5wm0000gn/T/ipykernel_59622/4245862404.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  f_table_4points[row[1][7]+'_s'][row[1][9]+'_t'] = f_table_4points[row[1][7]+'_s'][row[1][9]+'_t'] + 1
/var/folders/rw/kvt1fn_n0h951yj9_wjsc5wm0000gn/T/ipykernel_59622/4245862404.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  collect_4points = collect_4points.append(row[1])
/var/folders/rw/kvt1fn_n0h951yj9_wjsc5wm0000gn/T/ipykernel_59622/4245862404.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  f_table_4points[row[1][7]+'_s'][row[1][9]+'_t'] = f_table_4points[row[1][7]+'_s'][row[1][9]+'_t'] + 1
/var/folders/rw/kvt1fn_n0h951yj9_wjsc5wm0000gn/T/ipykernel_59622/4245862404.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  collect_4points = collect_4points.append(row[1])
/var/folders/rw/kvt1fn_n0h951yj9_wjsc5wm0000gn/T/ipykernel_59622/4245862404.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  f_table_4points[row[1][7]+'_s'][row[1][9]+'_t'] = f_table_4points[row[1][7]+'_s'][row[1][9]+'_t'] + 1
/var/folders/rw/kvt1fn_n0h951yj9_wjsc5wm0000gn/T/ipykernel_59622/4245862404.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  collect_4points = collect_4points.append(row[1])
/var/folders/rw/kvt1fn_n0h951yj9_wjsc5wm0000gn/T/ipykernel_59622/4245862404.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  f_table_4points[row[1][7]+'_s'][row[1][9]+'_t'] = f_table_4points[row[1][7]+'_s'][row[1][9]+'_t'] + 1
/var/folders/rw/kvt1fn_n0h951yj9_wjsc5wm0000gn/T/ipykernel_59622/4245862404.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  collect_4points = collect_4points.append(row[1])
/var/folders/rw/kvt1fn_n0h951yj9_wjsc5wm0000gn/T/ipykernel_59622/4245862404.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  f_table_4points[row[1][7]+'_s'][row[1][9]+'_t'] = f_table_4points[row[1][7]+'_s'][row[1][9]+'_t'] + 1
/var/folders/rw/kvt1fn_n0h951yj9_wjsc5wm0000gn/T/ipykernel_59622/4245862404.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  collect_4points = collect_4points.append(row[1])
/var/folders/rw/kvt1fn_n0h951yj9_wjsc5wm0000gn/T/ipykernel_59622/4245862404.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  f_table_4points[row[1][7]+'_s'][row[1][9]+'_t'] = f_table_4points[row[1][7]+'_s'][row[1][9]+'_t'] + 1
/var/folders/rw/kvt1fn_n0h951yj9_wjsc5wm0000gn/T/ipykernel_59622/4245862404.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  collect_4points = collect_4points.append(row[1])
/var/folders/rw/kvt1fn_n0h951yj9_wjsc5wm0000gn/T/ipykernel_59622/4245862404.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  f_table_4points[row[1][7]+'_s'][row[1][9]+'_t'] = f_table_4points[row[1][7]+'_s'][row[1][9]+'_t'] + 1
/var/folders/rw/kvt1fn_n0h951yj9_wjsc5wm0000gn/T/ipykernel_59622/4245862404.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  collect_4points = collect_4points.append(row[1])
/var/folders/rw/kvt1fn_n0h951yj9_wjsc5wm0000gn/T/ipykernel_59622/4245862404.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  f_table_4points[row[1][7]+'_s'][row[1][9]+'_t'] = f_table_4points[row[1][7]+'_s'][row[1][9]+'_t'] + 1
/var/folders/rw/kvt1fn_n0h951yj9_wjsc5wm0000gn/T/ipykernel_59622/4245862404.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  collect_4points = collect_4points.append(row[1])
/var/folders/rw/kvt1fn_n0h951yj9_wjsc5wm0000gn/T/ipykernel_59622/4245862404.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  f_table_4points[row[1][7]+'_s'][row[1][9]+'_t'] = f_table_4points[row[1][7]+'_s'][row[1][9]+'_t'] + 1
/var/folders/rw/kvt1fn_n0h951yj9_wjsc5wm0000gn/T/ipykernel_59622/4245862404.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  collect_4points = collect_4points.append(row[1])
/var/folders/rw/kvt1fn_n0h951yj9_wjsc5wm0000gn/T/ipykernel_59622/4245862404.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  f_table_4points[row[1][7]+'_s'][row[1][9]+'_t'] = f_table_4points[row[1][7]+'_s'][row[1][9]+'_t'] + 1
/var/folders/rw/kvt1fn_n0h951yj9_wjsc5wm0000gn/T/ipykernel_59622/4245862404.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  collect_4points = collect_4points.append(row[1])
/var/folders/rw/kvt1fn_n0h951yj9_wjsc5wm0000gn/T/ipykernel_59622/4245862404.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  f_table_4points[row[1][7]+'_s'][row[1][9]+'_t'] = f_table_4points[row[1][7]+'_s'][row[1][9]+'_t'] + 1
/var/folders/rw/kvt1fn_n0h951yj9_wjsc5wm0000gn/T/ipykernel_59622/4245862404.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  collect_4points = collect_4points.append(row[1])
/var/folders/rw/kvt1fn_n0h951yj9_wjsc5wm0000gn/T/ipykernel_59622/4245862404.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  f_table_4points[row[1][7]+'_s'][row[1][9]+'_t'] = f_table_4points[row[1][7]+'_s'][row[1][9]+'_t'] + 1

,Unnamed: 0,link_type,weight,dataset_x,source,target,key,source_type,source_country,target_type,target_country
437,437,family_relationship,0.863973,MC1,4,979893388,0,organization,NaN,organization,NaN
471,471,family_relationship,0.856004,MC1,196159,979893388,0,organization,NaN,organization,NaN
582,582,family_relationship,0.870096,MC1,9067,979893388,0,organization,NaN,organization,NaN
601,601,family_relationship,0.847895,MC1,750975,979893388,0,organization,NaN,organization,NaN
602,602,family_relationship,0.858981,MC1,750975,979893388,1,organization,NaN,organization,NaN
815,815,family_relationship,0.959009,MC1,5,979893388,0,organization,NaN,organization,NaN
890,890,family_relationship,0.827875,MC1,14bda3bb-9993-4265-97cc-1747808c144e,979893388,0,location,NaN,organization,NaN
1194,1194,family_relationship,0.831566,MC1,947,979893388,0,organization,NaN,organization,NaN
1198,1198,family_relationship,0.828570,MC1,Michael Compton,979893388,0,person,Vesperand's Bay,organization,NaN
1203,1203,family_relationship,0.824565,MC1,4348721,979893388,0,organization,NaN,organization,NaN
1204,1204,family_relationship,0.852739,MC1,b20c0baf-8530-4a84-a5b6-8da324ebebdb,979893388,0,location,NaN,organization,NaN
1295,1295,family_relationship,0.894943,MC1,435054320,979893388,0,organization,NaN,organization,NaN
1322,1322,family_relationship,0.877839,MC1,1560,979893388,0,organization,NaN,organization,NaN
1347,1347,family_relationship,0.925002,MC1,Sept,979893388,0,unknown,NaN,organization,NaN
1355,1355,family_relationship,0.800705,MC1,John Gonzalez,979893388,0,person,Nalakond,organization,NaN
2040,2040,family_relationship,0.886903,MC1,49,979893388,0,organization,NaN,organization,NaN
2328,2328,family_relationship,0.836114,MC1,Mar del Oeste Pic,979893388,2,company,Vesperlandia,organization,NaN
3359,3359,family_relationship,0.812441,MC1,Dana Goodwin,979893388,0,person,Marebak,organization,NaN
4686,4686,family_relationship,0.902885,MC1,ad8fe467-3759-4f53-bf6a-896a237d187f,979893388,0,location,NaN,organization,NaN
4962,4962,family_relationship,0.837183,MC1,979893388,Sept,0,organization,NaN,unknown,NaN
4963,4963,family_relationship,0.859619,MC1,979893388,John Gonzalez,0,organization,NaN,person,Nalakond
4977,4977,family_relationship,0.905254,MC1,979893388,Sea Harvest,0,organization,NaN,unknown,NaN
4978,4978,family_relationship,0.931432,MC1,979893388,âBHFâ,0,organization,NaN,unknown,NaN
4979,4979,family_relationship,0.880747,MC1,979893388,Madhya Pradesh Market BV,0,organization,NaN,unknown,NaN
4981,4981,family_relationship,0.840348,MC1,979893388,4,0,organization,NaN,organization,NaN
5023,5023,family_relationship,0.868931,MC1,979893388,Christopher Miller,0,organization,NaN,person,Country_271835
5028,5028,family_relationship,0.898990,MC1,979893388,âbracatinga,0,organization,NaN,unknown,NaN
5034,5034,family_relationship,0.919740,MC1,979893388,3404599,0,organization,NaN,organization,NaN
5035,5035,family_relationship,0.955375,MC1,979893388,7775,0,organization,NaN,organization,NaN
5036,5036,family_relationship,0.848618,MC1,979893388,Faroe Islands Shrimp Shark,0,organization,NaN,company,Rio Isla
5037,5037,family_relationship,0.830504,MC1,979893388,Sonia Fisheries Pvt,0,organization,NaN,unknown,NaN
5038,5038,family_relationship,0.889260,MC1,979893388,png xi Line,0,organization,NaN,company,Country_628643
5039,5039,family_relationship,0.811404,MC1,979893388,png xi Line,1,organization,NaN,company,Country_628643
5040,5040,family_relationship,0.855704,MC1,979893388,Mar del Oeste Pic,0,organization,NaN,company,Vesperlandia
5064,5064,family_relationship,0.821228,MC1,e1d7b4ac-ed31-42a4-9375-4afb0f78f276,979893388,0,location,NaN,organization,NaN
5067,5067,family_relationship,0.929633,MC1,Mary Horton,979893388,0,person,Country_271835,organization,NaN
6274,6274,family_relationship,0.857070,MC1,903311212,979893388,0,organization,NaN,organization,NaN
6278,6278,family_relationship,0.817539,MC1,903311212,979893388,4,organization,NaN,organization,NaN
6748,6748,family_relationship,0.983960,MC1,665912557,979893388,0,organization,NaN,organization,NaN
8099,8099,family_relationship,0.827875,MC1,Seth Kelley,979893388,0,person,Country_271835,organization,NaN
8514,8514,family_relationship,0.868600,MC1,Feb,979893388,0,unknown,NaN,organization,NaN
9651,9651,family_relationship,0.848694,MC1,b8567859-bf54-49fd-8332-5775e19c65af,979893388,0,location,NaN,organization,NaN
9794,9794,family_relationship,0.939467,MC1,SeaSpray Wave SRL Solutions,979893388,3,unknown,NaN,organization,NaN
10136,10136,family_relationship,0.830720,MC1,Ocean Fisheries Llc,979893388,1,unknown,NaN,organization,NaN
10478,10478,family_relationship,0.867872,MC1,Mar de la Vida OJSC,b8567859-bf54-49fd-8332-5775e19c65af,0,unknown,NaN,location,NaN
10497,10497,family_relationship,0.883705,MC1,Seafood,979893388,0,unknown,NaN,organization,NaN
10513,10513,family_relationship,0.831505,MC1,Caribbean,979893388,0,unknown,NaN,organization,NaN
10587,10587,family_relationship,0.868569,MC1,âCompliance,979893388,0,unknown,NaN,organization,NaN

In [73]:
# 个数
f_table

,company_s,event_s,location_s,movement_s,organization_s,person_s,political_organization_s,vessel_s,unknown_s
company_t,11.0,0.0,10.0,0.0,55.0,9.0,2.0,0.0,23.0
event_t,0.0,0.0,0.0,0.0,5.0,3.0,0.0,0.0,0.0
location_t,6.0,1.0,7.0,2.0,28.0,2.0,2.0,0.0,11.0
movement_t,1.0,0.0,1.0,0.0,4.0,2.0,0.0,0.0,1.0
organization_t,36.0,2.0,20.0,0.0,135.0,20.0,10.0,1.0,37.0
person_t,12.0,1.0,12.0,2.0,49.0,301.0,2.0,0.0,20.0
political_organization_t,0.0,0.0,3.0,0.0,7.0,1.0,1.0,0.0,5.0
vessel_t,0.0,0.0,3.0,0.0,3.0,0.0,0.0,0.0,0.0
unknown_t,16.0,1.0,8.0,1.0,37.0,8.0,3.0,0.0,19.0

In [74]:
# 个数
f_table_4points

,company_s,event_s,location_s,movement_s,organization_s,person_s,political_organization_s,vessel_s,unknown_s
company_t,NaN,NaN,NaN,NaN,4,NaN,NaN,NaN,0
event_t,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,0
location_t,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,1
movement_t,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,0
organization_t,1,0,5,0,17,5,0,0,7
person_t,NaN,NaN,NaN,NaN,2,NaN,NaN,NaN,0
political_organization_t,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,0
vessel_t,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,0
unknown_t,0,0,0,0,6,0,0,0,0

In [75]:
# 总数
print(f_cnt)

962

In [76]:
# 比例
f_table=(f_table/11069) * 100
f_table

,company_s,event_s,location_s,movement_s,organization_s,person_s,political_organization_s,vessel_s,unknown_s
company_t,0.099377,0.000000,0.090342,0.000000,0.496883,0.081308,0.018068,0.000000,0.207788
event_t,0.000000,0.000000,0.000000,0.000000,0.045171,0.027103,0.000000,0.000000,0.000000
location_t,0.054205,0.009034,0.063240,0.018068,0.252959,0.018068,0.018068,0.000000,0.099377
movement_t,0.009034,0.000000,0.009034,0.000000,0.036137,0.018068,0.000000,0.000000,0.009034
organization_t,0.325233,0.018068,0.180685,0.000000,1.219622,0.180685,0.090342,0.009034,0.334267
person_t,0.108411,0.009034,0.108411,0.018068,0.442678,2.719306,0.018068,0.000000,0.180685
political_organization_t,0.000000,0.000000,0.027103,0.000000,0.063240,0.009034,0.009034,0.000000,0.045171
vessel_t,0.000000,0.000000,0.027103,0.000000,0.027103,0.000000,0.000000,0.000000,0.000000
unknown_t,0.144548,0.009034,0.072274,0.009034,0.334267,0.072274,0.027103,0.000000,0.171651

In [77]:
# 比例
f_table_4points=(f_table_4points/11069) * 100
f_table_4points

,company_s,event_s,location_s,movement_s,organization_s,person_s,political_organization_s,vessel_s,unknown_s
company_t,NaN,NaN,NaN,NaN,0.036137,NaN,NaN,NaN,0.000000
event_t,NaN,NaN,NaN,NaN,0.000000,NaN,NaN,NaN,0.000000
location_t,NaN,NaN,NaN,NaN,0.000000,NaN,NaN,NaN,0.009034
movement_t,NaN,NaN,NaN,NaN,0.000000,NaN,NaN,NaN,0.000000
organization_t,0.009034,0.0,0.045171,0.0,0.153582,0.045171,0.0,0.0,0.063240
person_t,NaN,NaN,NaN,NaN,0.018068,NaN,NaN,NaN,0.000000
political_organization_t,NaN,NaN,NaN,NaN,0.000000,NaN,NaN,NaN,0.000000
vessel_t,NaN,NaN,NaN,NaN,0.000000,NaN,NaN,NaN,0.000000
unknown_t,0.0,0.0,0.0,0.0,0.054205,0.0,0.0,0.0,0.000000